* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #0f172a, #020617);
  color: white;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.container {
  width: 100%;
  max-width: 500px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  padding: 12px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 12px;
  background: #38bdf8;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #0ea5e9;
}

.controls {
  margin-bottom: 20px;
}

.filters button {
  flex: 1;
  margin: 5px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 8px;
  font-weight: bold;
}

/* Different colors */
.all-btn {
  background: #64748b; /* gray */
  color: white;
}

.pending-btn {
  background: #facc15; /* yellow */
  color: black;
}

.completed-btn {
  background: #22c55e; /* green */
  color: white;
}

/* Hover effect */
.filters button:hover {
  opacity: 0.8;
}

/* Active button highlight */
.active-filter {
  border: 2px solid white;
}
.clear-btn {
  width: 100%;
  margin-top: 10px;
  background: rgb(151, 5, 5);
}

ul {
  padding: 0;
}

li {
  list-style: none;
  background: #2366d2;
  margin: 10px 0;
  padding: 15px;
  border-radius: 10px;
  position: relative;
  transition: 0.3s;
}

li:hover {
  transform: scale(1.02);
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
  color:rgb(22, 197, 57);
}

.delete-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  background: red;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
}

/* 🔥 Due date highlight */
.urgent {
  border-left: 5px solid red;
}

/* 📱 Mobile responsive */
@media (max-width: 500px) {
  .container {
    width: 100%;
  }
}

/* Theme button */
.theme-btn {
  margin-bottom: 10px;
  background: #334155;
  color: white;
}

/* Light mode */
.light-mode {
  background: #f1f5f9;
  color: black;
}

.light-mode li {
  background: #e2e8f0;
}

.light-mode .filters button {
  background: #cbd5e1;
}

/* Edit button */
.edit-btn {
  position: absolute;
  right: 50px;
  top: 10px;
  background: orange;
  color: black;
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
}